<!DOCTYPE html>

<head>
  <%- include('layout/header/header-utils') %>
  <%- include('layout/header/header-logo') %>
  <%- include('layout/header/header-boostrap-v5') %>
  <%- include('layout/header/header-fontawesome') %>
  <%- include('layout/header/header-sweetalert2') %>
  <%- include('layout/header/header-izitoast') %>
  <%- include('layout/header/header-app-style') %>
  <%- include('layout/header/header-login-staff') %>
  <%- include('layout/header/header-loading') %>  

  <title>Java Coffee</title>
</head>

<body>
<div class="login-card-container">
  <div class="loader hide">
    <div id="loading"></div>
  </div>
  <div class="login-card">
    <div class="login-card-logo">
      <img src="/images/logo-black.png"
           alt="logo">
    </div>
    <div class="login-card-header">
      <h1>Cập nhật mật khẩu</h1>
      <div>Vui lòng nhập đầy đủ thông tin</div>
    </div>
    <form id="frmUpdatePassword" class="login-card-form">

      <div class="form-item">
        <span class="form-item-icon"><i class="fa-solid fa-key"></i></span>
        <input id="passwordUpdatePassword" name="passwordUpdatePassword" type="password"
               placeholder="Nhập mật khẩu mới" required/>
        <span class="show-password" id="spanPassword1" onclick="showPassword1()"><i class="fa-solid fa-eye"></i></span>
      </div>

      <div class="form-item">
        <span class="form-item-icon">
          <i class="fa-solid fa-key"></i>
        </span>
        <input id="passwordUpdatePasswordConfirm" name="passwordUpdatePasswordConfirm" type="password"
               placeholder="Nhập mật lại mật khẩu" required/>
        <span class="show-password" id="spanPassword2" onclick="showPassword2()">
          <i class="fa-solid fa-eye"></i>
        </span>
      </div>

      <button id="btnUpdatePassword" type="button">Xác nhận</button>
    </form>
  </div>
</div>
</body>

<%- include('layout/script/script-jquery') %>
<%- include('layout/script/script-jquery-validate') %>
<%- include('layout/script/script-boostrap-v5') %>
<%- include('layout/script/script-fontawesome') %>
<%- include('layout/script/script-sweetalert2') %>
<%- include('layout/script/script-izitoast') %>
<%- include('layout/script/script-app') %>
<%- include('layout/script/script-appUtils') %>


<script>
  const page = {
    urls: {
      updatePassword: AppUtils.USER_API + "/update-password",
    },
    elements: {},
    commands: {},
    initializeEventControl: {}
  }

  page.elements.loader = $(".loader");

  page.elements.frmUpdatePassword = $("#frmUpdatePassword");
  page.elements.passwordUpdatePassword = $("#passwordUpdatePassword");
  page.elements.passwordUpdatePasswordConfirm = $("#passwordUpdatePasswordConfirm");

  page.elements.btnUpdatePassword = $("#btnUpdatePassword");

  page.commands.updatePassword = () => {
    let tempArray = location.href.split("/");
    let codeFirstLogin = tempArray.at(-1);
    let user = {
      password: page.elements.passwordUpdatePassword.val(),
      passwordConfirm: page.elements.passwordUpdatePasswordConfirm.val(),
      codeFirstLogin: codeFirstLogin
    }
    $.ajax({

      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      type: "POST",
      url: page.urls.updatePassword,
      data: JSON.stringify(user)

    }).done((resp) => {

      AppUtils.SweetAlert.redirectPage("Cập nhật mật khẩu thành công!.", "<b></b>", 1000);

      setTimeout(function () {
        window.location.href = "/cp/login";
      }, 1000);

    }).fail(function (jqXHR) {

      if (jqXHR.responseJSON) {
        if (jqXHR.responseJSON.message) {
          AppUtils.IziToast.showErrorAlertLeft(jqXHR.responseJSON.message);
        } else {
          $.each(jqXHR.responseJSON, function (key, value) {
            AppUtils.IziToast.showErrorAlertLeft(value);
          });
        }
      } else {
        AppUtils.IziToast.showErrorAlertLeft("Hệ thống đang có vấn đề vui lòng thử lại sau!");
      }
    });
  }


  function showPassword1() {
    let password = document.querySelector("#passwordUpdatePassword");
    password.type === "password" ? password.type = "text" : password.type = "password";
  }

  function showPassword2() {
    let password = document.querySelector("#passwordUpdatePasswordConfirm");
    password.type === "password" ? password.type = "text" : password.type = "password";
  }

  page.commands.showLoading = () => {
    page.elements.loader.removeClass("hide");

  }

  page.commands.closeLoading = () => {
    page.elements.loader.addClass("hide");

  }

  page.commands.loadData = () => {
  }

  page.initializeEventControl = () => {
    page.elements.btnUpdatePassword.on("click", () => {
      page.commands.updatePassword();
    })
  }

  $(() => {
    page.commands.loadData();
    page.initializeEventControl();
  });
</script>
</html>